<h1>Top#show</h1>
<p>Find me in app/views/top/show.html.erb</p>
<table class="aaa">
  <tr>
    <th>id</th>
    <th>category_id</th>
    <th>intro_myself</th>
    <th>interest</th>
    <th>staff_image</th>
  </tr>

  <tr>
    <td><%= staff.id %></td>
    <td><%= staff.category_id%></td>
    <td><%= staff.intro_myself%></td>
    <td><%= staff.interest%></td>
    <td><%= staff.staff_image%></td> 
  </tr>

</table>
