<h1>Reserves#new</h1>
<p>Find me in app/views/reserves/new.html.erb</p>

<p>スタッフ<%= @staff.member.name %></p>

<p>
menu
name
<%= @menu.menu_name %>
time
<%= @menu.menu_time %>
</p>

<p>
接続前年月日パラム
<%= @year %>
<%= @month %>
<%= @day %>
</p>

<p>
接続後
<%= @ymd %>
</p>

<% if @reserves.present? %>
  <% @reserves.each do |reserve| %>
    <p>
    検索した日の予約
    id<%= reserve.id %>
    menu<%= reserve.menu.menu_name %>
    staff<%= reserve.staff.member.name %>
    time<%= reserve.open.time %>
    <%= reserve.open_id %>
    <%= @rtime%>
    所要時間<%= reserve.menu.menu_time %>
    顧客<%= reserve.member.name%>
    </p>
  <% end %>
<% end %>

<% if @shift.present? %>
  <p>シフト<%= @shift.day %></p>
<% end %>

<% @aki.each_with_index do |aki,i| %>
  <p>
    <%= i+1 %>コマ目
    <%= aki %>
  </p>
<% end %>
<% @available.each_with_index do |available,j| %>
  <p>
    予約可能<%= j+1 %>コマ目
    <%= available %>
  </p>
<% end %>
<% if @shift.present? %>
  <%= form_tag :check_reserves, method: :get do%>
  <p>選択
  <%= select_tag 'time_select', options_from_collection_for_select(@opens, :id, :time, 1) %>
  </p>
  <%= submit_tag "確認ページへ"%>
  <% end %>
<%else%>
  <p>この日は空き時間がありません。</p>
<% end%>
