<% @page_title = "会員一覧"%>
<h1><%= @page_title %></h1>
<p><%= link_to "会員の新規登録", :new_admin_member %></p>
<table class="list">
<thead> 
  <tr>
    <th>名前</th>
    <th>性別</th>
    <th>電話番号</th>
    <th>メールアドレス</th>
    <th>店長</th>
    <th>店員</th>
  </tr>
</thead>
<tbody> 
  <% @members.each.with_index do |member ,idx|%>
  <tr>
    <td class="td<%=idx%2%>" align="right"><a><%= link_to member.name, [:admin, member] %></a></td>
    <td class="td<%=idx%2%>"><%= member.sex ==0 ? "男" : "女" %></td>
    <td class="td<%=idx%2%>"><%= member.tel %></td>
    <td class="td<%=idx%2%>"><%= member.mail%></td>
    <td class="td<%=idx%2%>"><%= member.administrator? ? "○" : "ー" %></td>
    <td class="td<%=idx%2%>"><%= member.clerk? ? "○" : "ー" %></td>
  </tr>
  <% end %>
</tbody> 
</table>
