<table class="attr">
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= Member.human_attribute_name(:sex) %></th>
    <td>
      <%= form.radio_button :sex, 0 %>
      <%= form.label :sex_0 %>
      <%= form.radio_button :sex, 1 %>
      <%= form.label :sex_1 %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :tel %></th>
    <td><%= form.text_field :tel %></td>
  </tr>
  <tr>
    <th><%= form.label :mail %></th>
    <td><%= form.text_field :mail %></td>
  </tr>
  <tr>
    <th><%= form.label :adress %></th>
    <td><%= form.text_field :adress %></td>
  </tr>
  <tr>
    <th><%= form.label :birthday, for: "member_birthday_1i" %></th>
    <td><%= form.date_select :birthday,
              start_year: 1940, end_year: Time.now.year,
              use_month_numbers: true %></td>
  </tr>
  <tr>
    <th><%= form.label :user_name %></th>
    <td><%= form.text_field :user_name %></td>
  </tr>
  <tr>
    <th><%= Member.human_attribute_name(:magazine) %></th>
    <td>
      <%= form.check_box :magazine %>
      <%= form.label :magazine %>
    </td>
  </tr>
  <tr>
    <th><%= Member.human_attribute_name(:administrator) %></th>
    <td>
      <%= form.check_box :administrator %>
      <%= form.label :administrator %>
    </td>
  </tr>
  <tr>
    <th><%= Member.human_attribute_name(:clerk) %></th>
    <td>
      <%= form.check_box :clerk %>
      <%= form.label :clerk %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :password %></th>
    <td><%= form.password_field :password %></td>
  </tr>
  <tr>
    <th><%= form.label :password_confirmation %></th>
    <td><%= form.password_field :password_confirmation %></td>
  </tr>
</table>
